<html>
    <body>
        <h1>Create Recipe</h1>
        <form method = "POST" action= "/recipes/new">
                <label> Recipe Name </label>
                <input type = "text" name = "recipe[name]" > </input>

                <label> Recipe Ingredients </label>
                <input type = "text" name = "recipe[ingredients]"> </input>

                <label> Recipe Cook Time </label>
                <input type = "number" name = "recipe[cook_time]" > </input>

                <input type = "submit" id="submit" />


        </form>

    </body>
</html>